@page "/about"
<link rel="stylesheet" href="css/about.css">


<h3>ℹ️ Acerca de Blazing Pizza</h3>

<p>Bienvenido a nuestra pizzería online. 🍕</p>
<p>Aquí puedes ordenar pizzas deliciosas y recibirlas en minutos.</p>

<a href="/menu">📌 Ver el Menú</a>
