<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <LayoutView Layout="@typeof(MainLayout)">
            <RouteView RouteData="@routeData" />
        </LayoutView>
    </Found>
    <NotFound>
        <h3>Página no encontrada 😢</h3>
        <a href="/menu">Volver al menú</a>
    </NotFound>
</Router>


